DOME-out.log
.mode
.arch
dome
nest
libwren.a
libwrend.a
libadd.so
**/.DS_Store
src/util/convert
src/util/embed
src/modules/*.inc
include/wren.h
include/SDL2/*
lib/SDL2*
lib/libSDL2*

lib/wren_all.c

*.o
*.swp
*.dSYM
obj/

node_modules
docs/_site/**/*
docs/.sass-cache/
docs/.jekyll-cache/
docs/.jekyll-metadata
Gemfile.lock

dome.data
dome.html
dome.js
dome.wasm

game.egg
