DOME-out.log
.mode
.arch
dome
nest
libwren.a
libwrend.a
libadd.so
**/.DS_Store
src/util/convert
src/util/embed
src/modules/*.inc
src/include/wren.h
src/include/SDL2/*
src/lib/SDL2*
src/lib/libSDL2*
*.o
*.swp
*.dSYM

node_modules
docs/_site/**/*
docs/.sass-cache/
docs/.jekyll-cache/
docs/.jekyll-metadata
Gemfile.lock
