---
---

@import "{{ site.theme }}";

body {
  background-color: #000000;
  color: #ffffff;
}

header h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
.social {
  text-align: center;
  a {
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }
}

.view {
  text-align: center;
  a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;

    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

    &:hover,&:focus {
      color: #212529;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

a {
  color: #9e7cce;
  &:hover,&:focus {
    color: #9e7cce;
  }
}

section p img {
  background: white;
  display: block;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
}

section p a {
  text-decoration: underline;
  &:hover,&:focus {
    font-weight: normal;
    text-decoration: none;
  }
}

img[alt*="Logo"] {
  width: 100%;
  height: 200px;
}

pre, code {
  border-radius: 3px;
  padding: 1px 5px;
  color: #e270ef;
  background-color: #383838;
}

pre code {
  padding: 5px 5px;
  display: inline-block;
}

a code {
  text-decoration: underline;
 
  &:hover {
    text-decoration: none;
  }
}

.highlight,
.highlight pre,
.highlight table {
  background-color: #383838;
  color: #e270ef;
  border-radius: 3px;
  display: block;
}

.highlight .hll { background-color: #383838 }
.highlight .c { color: #e270ef } /* Comment */
.highlight .err { color: #cc6666 } /* Error */
.highlight .k { color: #b294bb } /* Keyword */
.highlight .l { color: #de935f } /* Literal */
.highlight .n, .highlight .h { color: #ffffff } /* Name */
.highlight .o { color: #8abeb7 } /* Operator */
.highlight .p { color: #ffffff } /* Punctuation */
.highlight .cm { color: #e270ef } /* Comment.Multiline */
.highlight .cp { color: #e270ef } /* Comment.Preproc */
.highlight .c1 { color: #e270ef } /* Comment.Single */
.highlight .cs { color: #e270ef } /* Comment.Special */
.highlight .gd { color: #cc6666 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #e270ef } /* Generic.Inserted */
.highlight .gp { color: #e270ef; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #e270ef; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #e270ef } /* Keyword.Constant */
.highlight .kd { color: #e270ef } /* Keyword.Declaration */
.highlight .kn { color: #e270ef } /* Keyword.Namespace */
.highlight .kp { color: #e270ef } /* Keyword.Pseudo */
.highlight .kr { color: #e270ef } /* Keyword.Reserved */
.highlight .kt { color: #e270ef } /* Keyword.Type */
.highlight .ld { color: #e270ef } /* Literal.Date */
.highlight .m { color: #e270ef } /* Literal.Number */
.highlight .s { color: #e270ef } /* Literal.String */
.highlight .na { color: #81a2be } /* Name.Attribute */
.highlight .nb { color: #e270ef } /* Name.Builtin */
.highlight .nc { color: #e270ef } /* Name.Class */
.highlight .no { color: #e270ef } /* Name.Constant */
.highlight .nd { color: #e270ef } /* Name.Decorator */
.highlight .ni { color: #e270ef } /* Name.Entity */
.highlight .ne { color: #e270ef } /* Name.Exception */
.highlight .nf { color: #e270ef } /* Name.Function */
.highlight .nl { color: #e270ef } /* Name.Label */
.highlight .nn { color: #e270ef } /* Name.Namespace */
.highlight .nx { color: #e270ef } /* Name.Other */
.highlight .py { color: #e270ef } /* Name.Property */
.highlight .nt { color: #e270ef } /* Name.Tag */
.highlight .nv { color: #e270ef } /* Name.Variable */
.highlight .ow { color: #e270ef } /* Operator.Word */
.highlight .w { color: #ffffff } /* Text.Whitespace */
.highlight .mf { color: #e270ef } /* Literal.Number.Float */
.highlight .mh { color: #e270ef } /* Literal.Number.Hex */
.highlight .mi { color: #e270ef } /* Literal.Number.Integer */
.highlight .mo { color: #e270ef } /* Literal.Number.Oct */
.highlight .sb { color: #e270ef } /* Literal.String.Backtick */
.highlight .sc { color: #e270ef } /* Literal.String.Char */
.highlight .sd { color: #e270ef } /* Literal.String.Doc */
.highlight .s2 { color: #e270ef } /* Literal.String.Double */
.highlight .se { color: #e270ef } /* Literal.String.Escape */
.highlight .sh { color: #e270ef } /* Literal.String.Heredoc */
.highlight .si { color: #e270ef } /* Literal.String.Interpol */
.highlight .sx { color: #e270ef } /* Literal.String.Other */
.highlight .sr { color: #e270ef } /* Literal.String.Regex */
.highlight .s1 { color: #e270ef } /* Literal.String.Single */
.highlight .ss { color: #e270ef } /* Literal.String.Symbol */
.highlight .bp { color: #e270ef } /* Name.Builtin.Pseudo */
.highlight .vc { color: #e270ef } /* Name.Variable.Class */
.highlight .vg { color: #e270ef } /* Name.Variable.Global */
.highlight .vi { color: #e270ef } /* Name.Variable.Instance */
.highlight .il { color: #e270ef } /* Literal.Number.Integer.Long */

.wrapper {
  width: 1024px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  header {
    flex: none;
    position: relative;
    left: 0;
    top: 0;

    float: left;
    margin-right: 50px;
  }

  section {
    flex-grow: 2;
    float: right;
    flex-shrink: 1;
  }
}
