# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  
  itch-release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ["windows-x64", "windows-x32", "macosx-x64", "linux-x64", "linux-x64-shared"]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - id: fetch-latest-release
        uses: thebritican/fetch-latest-release@v2.0.0
        with:
          github_token: ${{ github.token }}
      - id: get-id
        run: |
          id=$(echo ${{steps.fetch-latest-release.outputs.tag_name}} | cut -f 2 -d v)
          echo "::set-output name=id::$id"
      - run: echo "${{steps.get-id.outputs.id}}"
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "domeengine/dome"
          version: "latest"
          file: "dome-${{steps.fetch-latest-release.outputs.tag_name}}-${{matrix.platform}}.zip"
          token: ${{ secrets.ASSET_TOKEN }}
      - uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
          CHANNEL: ${{matrix.platform}}
          ITCH_GAME: dome
          ITCH_USER: avivbeeri
          VERSION: ${{steps.get-id.outputs.id}}
          PACKAGE: dome-${{steps.fetch-latest-release.outputs.tag_name}}-${{matrix.platform}}.zip

  notify-discord:
    runs-on: ubuntu-latest
    steps:
    - id: fetch-latest-release
      uses: thebritican/fetch-latest-release@v2.0.0
      with:
        github_token: ${{ github.token }}
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        DISCORD_EMBEDS: >
          [{ 
             "title": "New Release: '${{steps.fetch-latest-release.outputs.tag_name}}' is now available for download!", 
             "url": "${{steps.fetch-latest-release.outputs.html_url}}",
             "author": {
               "name": "${{steps.fetch-latest-release.outputs_login}}",
               "url": "${{steps.fetch-latest-release.outputs.html_url}}"
             }
          }]
      uses: Ilshidur/action-discord@0.3.0
